version: '3'

services:
  proxy:
    build: .
    restart: always
    volumes:
      - ./src/html:/var/www/html:ro
      - ./proxy.conf:/etc/apache2/sites-available/000-default.conf
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html

    networks:
      - internal
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.constraint-label=ctf-chall"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.lemonade.rule=Host(`lemonade.cbc2025.cloud`)"
      - "traefik.http.routers.lemonade.entrypoints=http"
      - "traefik.http.routers.lemonade.middlewares=https-redirect@file"
      - "traefik.http.routers.lemonade-https.rule=Host(`lemonade.cbc2025.cloud`)"
      - "traefik.http.routers.lemonade-https.entrypoints=https"
      - "traefik.http.routers.lemonade-https.tls=true"
      - "traefik.http.routers.lemonade-https.tls.certresolver=le"
      - "traefik.http.services.lemonade-https.loadbalancer.server.port=80"
    depends_on:
      - bot
  bot:
    platform: linux/amd64
    build:
      context: bot
      args:
        - BROWSER=chromium
    restart: always
    environment:
      APPNAME: Admin
      APPURL: http://proxy/
      APPURLREGEX: ^http(|s)://.*$
      APPFLAG: CBC{a_little_bitter_a_litter_sweet_and_a_little_sour}
      APPLIMIT: 10
      APPLIMITTIME: 60
      USE_PROXY: 1
      DISPLAY: ${DISPLAY}
    networks:
      - internal
    # uncoment this if you need to run the bot in GUI mode
    # run this before running the docker container if you're use xauth `sudo xhost +local:docker`
    # volumes:
      # - /tmp/.X11-unix:/tmp/.X11-unix

networks:
  internal:
  traefik:
    external: true
